---
layout: page
title: Archives
permalink: /archives/
---

<div class="archives">
  <section class="archive-post-list">
    {% for post in site.posts %}
      {% assign currentYear = post.date | date: "%Y" %}
      {% assign currentMonth = post.date | date: "%B" %}
      {% if currentYear != myYear %}
        <h1>{{currentYear}}</h1>
        {% assign myYear = currentYear %}
      {% endif %}
      {% if currentMonth != myMonth %}
        <h3>{{currentMonth}}</h3>
        {% assign myMonth = currentMonth %}
      {% endif %}
      {% include postbox.html %}
    {% endfor %}
  </section>
</div>
